.footer {
    background-color: #000;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
}

.info {
    padding-top: 50px;
}